{%- liquid
assign compact = ''
if section.settings.announcement_compact == true
  assign compact = ' announcement-bar-compact'
endif
-%}


{{ section.settings.announcement_compact }}
{%- assign compact = '' -%}
{%- if section.settings.show_announcement_bar -%}
  {%- if section.blocks.size > 0 -%}
    <div class="announcement-bar{{ compact }}">
      <div class="page-width">
        <ul class="announcement-slider">
          {%- for block in section.blocks -%}
            <li class="announcement-bar__announcement" role="region" aria-label="{{ 'sections.header.announcement' | t }}" {{ block.shopify_attributes }}>
              {%- if block.settings.link != blank -%}
                <a href="{{ block.settings.link }}" class="announcement-bar__link">
                  {%- endif -%}
                  <span class="announcement-bar__heading">
                    {{ block.settings.heading | escape }}
                  </span>
                  {%- if block.settings.text != blank -%}
                  <span class="announcement-bar__text">
                    {{ block.settings.text | escape }}
                  </span>
                  {%- endif -%}
                  {%- if block.settings.link != blank -%}
                </a>
              {%- endif -%}
         	</li>
      	  {%- endfor -%}
        </ul>
      </div>
    </div>
  {%- endif -%}
{%- endif -%}

{% schema %}
{
  "name": "t:sections.announcement-bar.name",
  "settings": [
    {
      "type": "header",
      "content": "Announcement bar"
    },
    {
      "type": "checkbox",
      "id": "show_announcement_bar",
      "default": true,
      "label": "Show announcement bar"
    },
    {
      "type": "checkbox",
      "id": "announcement_compact",
      "label": "Use compact style"
    }
  ],
  "max_blocks": 12,
  "blocks": [
    {
      "type": "announcement",
      "name": "t:sections.announcement-bar.blocks.announcement.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Free shipping",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "text",
          "default": "On all orders over $30",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.text.label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.link.label"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "announcement"
      }
    ]
  }
}
{% endschema %}
